.draggable {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 10px auto;
  line-height: 100px;
  border: 1px solid black;
  background-color: darkgray;
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
