input[type="text"] {
    border: none;
    outline: none;
    background-color: darkgray;
    border-bottom: 1px solid black;
    display: inline-block;
}

.header {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: darkgray;
    color: white;
    width: 100%;
    height: 100px;
    line-height: 100px;
}